<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>OpenSearchServerSearch\OpenSearchServerSearch</fullnamespace>
    <descriptive locale="en_US">
        <title>OpenSearchServer - search engine</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>OpenSearchServer - moteur de recherche</title>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Alexandre Toyer</name>
        <email>alexandre.toyer@open-search-server.com</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
